.filmecard {
    position: relative;
}

.filmecard::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent, rgb(1, 0, 3));
  opacity: 0.8;
  transition: all 0.3s ease-in-out 0s;
}

#info {
    color: white;
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 100%;
}